fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
openai
google-generativeai
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain.text_splitters
sentence-transformers
llama-index
beautifulsoup4
unstructured[all-docs]
sqlalchemy[asyncio]
asyncpg
chromadb
faiss-cpu
python-multipart
jose[cryptography]
passlib[bcrypt]
transformers>=4.40.0
torch>=2.2.0
sentencepiece>=0.2.0
rouge-score>=0.1.2
